In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("googleplaystore.csv")
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [3]:
print(df.shape)
print(df.dtypes)

(10841, 13)
App                object
Category           object
Rating            float64
Reviews            object
Size               object
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

In [4]:
#checking null value
df.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [5]:
#Drop null value of multiple columns
df.dropna(subset=['Content Rating','Type','Current Ver','Android Ver'],inplace=True)

In [6]:
df.isnull().sum()

App                  0
Category             0
Rating            1469
Reviews              0
Size                 0
Installs             0
Type                 0
Price                0
Content Rating       0
Genres               0
Last Updated         0
Current Ver          0
Android Ver          0
dtype: int64

In [7]:
#checking duplicated value
df[df.duplicated() == True].count()

App               483
Category          483
Rating            474
Reviews           483
Size              483
Installs          483
Type              483
Price             483
Content Rating    483
Genres            483
Last Updated      483
Current Ver       483
Android Ver       483
dtype: int64

In [8]:
#Droping duplicates
df=df.drop_duplicates()

In [9]:
df[df.duplicated() == True].count()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

In [10]:
df.shape

(10346, 13)

In [11]:
#Droping App as it is not important
df.drop('App', axis=1, inplace=True)

In [12]:
df.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [13]:
df['Category'].unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION'],
      dtype=object)

In [14]:
df['Category'].value_counts()

FAMILY                 1939
GAME                   1121
TOOLS                   841
BUSINESS                427
MEDICAL                 408
PRODUCTIVITY            407
PERSONALIZATION         386
LIFESTYLE               373
COMMUNICATION           366
FINANCE                 360
SPORTS                  351
PHOTOGRAPHY             322
HEALTH_AND_FITNESS      306
SOCIAL                  280
NEWS_AND_MAGAZINES      264
TRAVEL_AND_LOCAL        237
BOOKS_AND_REFERENCE     229
SHOPPING                224
DATING                  196
VIDEO_PLAYERS           175
MAPS_AND_NAVIGATION     137
EDUCATION               130
FOOD_AND_DRINK          124
ENTERTAINMENT           111
AUTO_AND_VEHICLES        85
LIBRARIES_AND_DEMO       84
WEATHER                  82
HOUSE_AND_HOME           80
EVENTS                   64
ART_AND_DESIGN           64
PARENTING                60
COMICS                   60
BEAUTY                   53
Name: Category, dtype: int64

In [15]:
from sklearn.preprocessing import LabelEncoder 
label_encoder = LabelEncoder()

In [16]:
#Label encoder of Category columns
df['Category_label'] = label_encoder.fit_transform(df['Category'])
df['Category_label'].head()

0    0
1    0
2    0
3    0
4    0
Name: Category_label, dtype: int32

In [17]:
df.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Category_label
0,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,0
1,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,0
2,ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,0
3,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up,0
4,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up,0

In [18]:
df['Rating'].isna().sum()

1460

In [19]:
#Replacing null value with mean value
df['Rating'].fillna(df['Rating'].mean(), inplace=True)
df['Rating'].isna().sum()

0

In [20]:
#Finding last different value of size
find_mem = df['Size'].apply(lambda x: x[-1])
set(find_mem)

{'M', 'e', 'k'}

In [21]:
#replaceing Find_mem set 
df['Size'] = df['Size'].apply(lambda x: x.replace("M", "") if x[-1] == 'M' else x)
df['Size'] = df['Size'].apply(lambda x: x.replace("k", "00") if x[-1] == 'k' else x)
df['Size'] = df['Size'].apply(lambda x: x.replace("Varies with device", "0") if x == 'Varies with device' else x)

In [22]:
#Converting size into float
df['Size'] = df['Size'].apply(lambda x: float(x))

In [23]:
df.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Category_label
0,ART_AND_DESIGN,4.1,159,19.0,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,0
1,ART_AND_DESIGN,3.9,967,14.0,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,0
2,ART_AND_DESIGN,4.7,87510,8.7,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,0
3,ART_AND_DESIGN,4.5,215644,25.0,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up,0
4,ART_AND_DESIGN,4.3,967,2.8,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up,0

In [24]:
#converting reviews object to int value
df['Reviews'] = df['Reviews'].apply(lambda x: int(x))

In [25]:
df.dtypes

Category           object
Rating            float64
Reviews             int64
Size              float64
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
Category_label      int32
dtype: object

In [26]:
#checking if any value other that (+) existed
find_mem = df['Installs'].apply(lambda x: x[-1])
set(find_mem)

{'+'}

In [27]:
#replace (+)
df['Installs'] = df['Installs'].apply(lambda x: x.replace("+", "") if x[-1] == '+' else x)

In [28]:
df.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Category_label
0,ART_AND_DESIGN,4.1,159,19.0,"10,000",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,0
1,ART_AND_DESIGN,3.9,967,14.0,"500,000",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,0
2,ART_AND_DESIGN,4.7,87510,8.7,"5,000,000",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,0
3,ART_AND_DESIGN,4.5,215644,25.0,"50,000,000",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up,0
4,ART_AND_DESIGN,4.3,967,2.8,"100,000",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up,0

In [29]:
#replacing (,)  and converting install into int
df['Installs']=df['Installs'].str.replace(",", "") 
df['Installs'] = df['Installs'].apply(lambda x: int(x))
df

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Category_label
0,ART_AND_DESIGN,4.100000,159,19.0,10000,Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,0
1,ART_AND_DESIGN,3.900000,967,14.0,500000,Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,0
2,ART_AND_DESIGN,4.700000,87510,8.7,5000000,Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,0
3,ART_AND_DESIGN,4.500000,215644,25.0,50000000,Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up,0
4,ART_AND_DESIGN,4.300000,967,2.8,100000,Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,FAMILY,4.500000,38,53.0,5000,Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up,11
10837,FAMILY,5.000000,4,3.6,100,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up,11
10838,MEDICAL,4.187959,3,9.5,1000,Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up,20
10839,BOOKS_AND_REFERENCE,4.500000,114,0.0,1000,Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device,3
10840,LIFESTYLE,4.500000,398307,19.0,10000000,Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device,18

In [30]:
df['Type'].unique()

array(['Free', 'Paid'], dtype=object)

In [31]:
#one hot encoding of Type featue
df['Type']=pd.get_dummies(df['Type'],drop_first=True)

In [32]:
df.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Category_label
0,ART_AND_DESIGN,4.1,159,19.0,10000,0,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,0
1,ART_AND_DESIGN,3.9,967,14.0,500000,0,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,0
2,ART_AND_DESIGN,4.7,87510,8.7,5000000,0,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,0
3,ART_AND_DESIGN,4.5,215644,25.0,50000000,0,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up,0
4,ART_AND_DESIGN,4.3,967,2.8,100000,0,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up,0

In [33]:
df['Type'].unique()

array([0, 1], dtype=uint8)

In [34]:
df['Price'].unique()

array(['0', '$4.99', '$3.99', '$6.99', '$1.49', '$2.99', '$7.99', '$5.99',
       '$3.49', '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49',
       '$10.00', '$24.99', '$11.99', '$79.99', '$16.99', '$14.99',
       '$1.00', '$29.99', '$12.99', '$2.49', '$10.99', '$1.50', '$19.99',
       '$15.99', '$33.99', '$74.99', '$39.99', '$3.95', '$4.49', '$1.70',
       '$8.99', '$2.00', '$3.88', '$25.99', '$399.99', '$17.99',
       '$400.00', '$3.02', '$1.76', '$4.84', '$4.77', '$1.61', '$2.50',
       '$1.59', '$6.49', '$1.29', '$5.00', '$13.99', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$19.90', '$8.49', '$1.75',
       '$14.00', '$4.85', '$46.99', '$109.99', '$154.99', '$3.08',
       '$2.59', '$4.80', '$1.96', '$19.40', '$3.90', '$4.59', '$15.46',
       '$3.04', '$4.29', '$2.60', '$3.28', '$4.60', '$28.99', '$2.95',
       '$2.90', '$1.97', '$200.00', '$89.99', '$2.56', '$30.99', '$3.61',
       '$394.99', '$1.26', '$1.20', '$1.04'], dtype=object)

In [35]:
#Replacing $ 
df['Price']=df['Price'].str.replace("$", "")

C:\Users\HP\AppData\Local\Temp/ipykernel_1952/3562009270.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Price']=df['Price'].str.replace("$", "")

In [36]:
#converting Price into float
df['Price'] = df['Price'].apply(lambda x: float(x))

In [37]:
df.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Category_label
0,ART_AND_DESIGN,4.1,159,19.0,10000,0,0.0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,0
1,ART_AND_DESIGN,3.9,967,14.0,500000,0,0.0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,0
2,ART_AND_DESIGN,4.7,87510,8.7,5000000,0,0.0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,0
3,ART_AND_DESIGN,4.5,215644,25.0,50000000,0,0.0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up,0
4,ART_AND_DESIGN,4.3,967,2.8,100000,0,0.0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up,0

In [38]:
df['Content Rating'].unique()

array(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+',
       'Adults only 18+', 'Unrated'], dtype=object)

In [39]:
#Droping unrated rows
df['Content Rating']=df['Content Rating'][df['Content Rating'] != 'Unrated']

In [40]:
#label encoding of Content Rating
df['Content Rating'] = label_encoder.fit_transform(df['Content Rating'])
df.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Category_label
0,ART_AND_DESIGN,4.1,159,19.0,10000,0,0.0,1,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,0
1,ART_AND_DESIGN,3.9,967,14.0,500000,0,0.0,1,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,0
2,ART_AND_DESIGN,4.7,87510,8.7,5000000,0,0.0,1,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,0
3,ART_AND_DESIGN,4.5,215644,25.0,50000000,0,0.0,4,Art & Design,"June 8, 2018",Varies with device,4.2 and up,0
4,ART_AND_DESIGN,4.3,967,2.8,100000,0,0.0,1,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up,0

In [41]:
df['Genres'].unique()

array(['Art & Design', 'Art & Design;Pretend Play',
       'Art & Design;Creativity', 'Art & Design;Action & Adventure',
       'Auto & Vehicles', 'Beauty', 'Books & Reference', 'Business',
       'Comics', 'Comics;Creativity', 'Communication', 'Dating',
       'Education;Education', 'Education', 'Education;Creativity',
       'Education;Music & Video', 'Education;Action & Adventure',
       'Education;Pretend Play', 'Education;Brain Games', 'Entertainment',
       'Entertainment;Music & Video', 'Entertainment;Brain Games',
       'Entertainment;Creativity', 'Events', 'Finance', 'Food & Drink',
       'Health & Fitness', 'House & Home', 'Libraries & Demo',
       'Lifestyle', 'Lifestyle;Pretend Play',
       'Adventure;Action & Adventure', 'Arcade', 'Casual', 'Card',
       'Casual;Pretend Play', 'Action', 'Strategy', 'Puzzle', 'Sports',
       'Music', 'Word', 'Racing', 'Casual;Creativity',
       'Casual;Action & Adventure', 'Simulation', 'Adventure', 'Board',
       'Trivia', 'Role Playing', 'Simulation;Education',
       'Action;Action & Adventure', 'Casual;Brain Games',
       'Simulation;Action & Adventure', 'Educational;Creativity',
       'Puzzle;Brain Games', 'Educational;Education', 'Card;Brain Games',
       'Educational;Brain Games', 'Educational;Pretend Play',
       'Entertainment;Education', 'Casual;Education',
       'Music;Music & Video', 'Racing;Action & Adventure',
       'Arcade;Pretend Play', 'Role Playing;Action & Adventure',
       'Simulation;Pretend Play', 'Puzzle;Creativity',
       'Sports;Action & Adventure', 'Educational;Action & Adventure',
       'Arcade;Action & Adventure', 'Entertainment;Action & Adventure',
       'Puzzle;Action & Adventure', 'Strategy;Action & Adventure',
       'Music & Audio;Music & Video', 'Health & Fitness;Education',
       'Adventure;Education', 'Board;Brain Games',
       'Board;Action & Adventure', 'Board;Pretend Play',
       'Casual;Music & Video', 'Role Playing;Pretend Play',
       'Entertainment;Pretend Play', 'Video Players & Editors;Creativity',
       'Card;Action & Adventure', 'Medical', 'Social', 'Shopping',
       'Photography', 'Travel & Local',
       'Travel & Local;Action & Adventure', 'Tools', 'Tools;Education',
       'Personalization', 'Productivity', 'Parenting',
       'Parenting;Music & Video', 'Parenting;Education',
       'Parenting;Brain Games', 'Weather', 'Video Players & Editors',
       'Video Players & Editors;Music & Video', 'News & Magazines',
       'Maps & Navigation', 'Health & Fitness;Action & Adventure',
       'Educational', 'Casino', 'Adventure;Brain Games',
       'Trivia;Education', 'Lifestyle;Education',
       'Books & Reference;Creativity', 'Books & Reference;Education',
       'Puzzle;Education', 'Role Playing;Education',
       'Role Playing;Brain Games', 'Strategy;Education',
       'Racing;Pretend Play', 'Communication;Creativity',
       'Strategy;Creativity'], dtype=object)

In [42]:
len(df['Genres'].unique())

119

In [43]:
#Lable encoding of Genres_label
df['Genres_label'] = label_encoder.fit_transform(df['Genres'])
df.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Category_label,Genres_label
0,ART_AND_DESIGN,4.1,159,19.0,10000,0,0.0,1,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,0,9
1,ART_AND_DESIGN,3.9,967,14.0,500000,0,0.0,1,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,0,12
2,ART_AND_DESIGN,4.7,87510,8.7,5000000,0,0.0,1,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,0,9
3,ART_AND_DESIGN,4.5,215644,25.0,50000000,0,0.0,4,Art & Design,"June 8, 2018",Varies with device,4.2 and up,0,9
4,ART_AND_DESIGN,4.3,967,2.8,100000,0,0.0,1,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up,0,11

In [44]:
#Spliting Last Updated into multiple columns
Time=df['Last Updated'].str.split(expand=True)

In [45]:
#assinging month , day and year to respective columns
df['Month']=Time[0]
df['Day']=Time[1]
df['Day']=df['Day'].str.replace(",","")
df['Year']=Time[2]

In [46]:
df.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Category_label,Genres_label,Month,Day,Year
0,ART_AND_DESIGN,4.1,159,19.0,10000,0,0.0,1,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,0,9,January,7,2018
1,ART_AND_DESIGN,3.9,967,14.0,500000,0,0.0,1,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,0,12,January,15,2018
2,ART_AND_DESIGN,4.7,87510,8.7,5000000,0,0.0,1,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,0,9,August,1,2018
3,ART_AND_DESIGN,4.5,215644,25.0,50000000,0,0.0,4,Art & Design,"June 8, 2018",Varies with device,4.2 and up,0,9,June,8,2018
4,ART_AND_DESIGN,4.3,967,2.8,100000,0,0.0,1,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up,0,11,June,20,2018

In [47]:
#Droping last updated columns
df.drop('Last Updated',axis=1,inplace=True)
df.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Current Ver,Android Ver,Category_label,Genres_label,Month,Day,Year
0,ART_AND_DESIGN,4.1,159,19.0,10000,0,0.0,1,Art & Design,1.0.0,4.0.3 and up,0,9,January,7,2018
1,ART_AND_DESIGN,3.9,967,14.0,500000,0,0.0,1,Art & Design;Pretend Play,2.0.0,4.0.3 and up,0,12,January,15,2018
2,ART_AND_DESIGN,4.7,87510,8.7,5000000,0,0.0,1,Art & Design,1.2.4,4.0.3 and up,0,9,August,1,2018
3,ART_AND_DESIGN,4.5,215644,25.0,50000000,0,0.0,4,Art & Design,Varies with device,4.2 and up,0,9,June,8,2018
4,ART_AND_DESIGN,4.3,967,2.8,100000,0,0.0,1,Art & Design;Creativity,1.1,4.4 and up,0,11,June,20,2018

In [48]:

df['Month'].unique()

array(['January', 'August', 'June', 'March', 'April', 'September', 'July',
       'October', 'November', 'May', 'December', 'February'], dtype=object)

In [49]:
#Label encoding of month
df['Month']=label_encoder.fit_transform(df['Month'])

In [50]:
df.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Current Ver,Android Ver,Category_label,Genres_label,Month,Day,Year
0,ART_AND_DESIGN,4.1,159,19.0,10000,0,0.0,1,Art & Design,1.0.0,4.0.3 and up,0,9,4,7,2018
1,ART_AND_DESIGN,3.9,967,14.0,500000,0,0.0,1,Art & Design;Pretend Play,2.0.0,4.0.3 and up,0,12,4,15,2018
2,ART_AND_DESIGN,4.7,87510,8.7,5000000,0,0.0,1,Art & Design,1.2.4,4.0.3 and up,0,9,1,1,2018
3,ART_AND_DESIGN,4.5,215644,25.0,50000000,0,0.0,4,Art & Design,Varies with device,4.2 and up,0,9,6,8,2018
4,ART_AND_DESIGN,4.3,967,2.8,100000,0,0.0,1,Art & Design;Creativity,1.1,4.4 and up,0,11,6,20,2018

In [51]:
df.dtypes

Category           object
Rating            float64
Reviews             int64
Size              float64
Installs            int64
Type                uint8
Price             float64
Content Rating      int32
Genres             object
Current Ver        object
Android Ver        object
Category_label      int32
Genres_label        int32
Month               int32
Day                object
Year               object
dtype: object

In [52]:
#converting Day and year to int
df['Day']=df['Day'].apply(lambda x: int(x))
df['Year']=df['Year'].apply(lambda x: int(x))

In [53]:
df.dtypes

Category           object
Rating            float64
Reviews             int64
Size              float64
Installs            int64
Type                uint8
Price             float64
Content Rating      int32
Genres             object
Current Ver        object
Android Ver        object
Category_label      int32
Genres_label        int32
Month               int32
Day                 int64
Year                int64
dtype: object

In [54]:
df.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Current Ver,Android Ver,Category_label,Genres_label,Month,Day,Year
0,ART_AND_DESIGN,4.1,159,19.0,10000,0,0.0,1,Art & Design,1.0.0,4.0.3 and up,0,9,4,7,2018
1,ART_AND_DESIGN,3.9,967,14.0,500000,0,0.0,1,Art & Design;Pretend Play,2.0.0,4.0.3 and up,0,12,4,15,2018
2,ART_AND_DESIGN,4.7,87510,8.7,5000000,0,0.0,1,Art & Design,1.2.4,4.0.3 and up,0,9,1,1,2018
3,ART_AND_DESIGN,4.5,215644,25.0,50000000,0,0.0,4,Art & Design,Varies with device,4.2 and up,0,9,6,8,2018
4,ART_AND_DESIGN,4.3,967,2.8,100000,0,0.0,1,Art & Design;Creativity,1.1,4.4 and up,0,11,6,20,2018

In [55]:
df.drop(['Current Ver','Android Ver','Category','Genres'],axis=1, inplace=True)

In [56]:
df.head()

,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Category_label,Genres_label,Month,Day,Year
0,4.1,159,19.0,10000,0,0.0,1,0,9,4,7,2018
1,3.9,967,14.0,500000,0,0.0,1,0,12,4,15,2018
2,4.7,87510,8.7,5000000,0,0.0,1,0,9,1,1,2018
3,4.5,215644,25.0,50000000,0,0.0,4,0,9,6,8,2018
4,4.3,967,2.8,100000,0,0.0,1,0,11,6,20,2018