In [4]:
## NO. 1.
num1=int(input("Enter the Frist number "))
num2=int(input("Enter the Second number "))
product = num1*num2
if product>1000:
  print("The prodect is: ", product)
else:
  print("The sum is: ",num1+num2)

Enter the Frist number 50
Enter the Second number 80
The prodect is:  4000

In [12]:
## NO. 2
pre_num = 0
for i in  list(range(10)):
    sum = pre_num + i
    print("The sum of the previous and present number: ",sum)
    pre_num=i

The sum of the previous and present number:  0
The sum of the previous and present number:  1
The sum of the previous and present number:  3
The sum of the previous and present number:  5
The sum of the previous and present number:  7
The sum of the previous and present number:  9
The sum of the previous and present number:  11
The sum of the previous and present number:  13
The sum of the previous and present number:  15
The sum of the previous and present number:  17

In [20]:
## No. 3
i=1
while i<=10:
  print("The natural numbers are: ",i)
  i+=1

The natural numbers are:  1
The natural numbers are:  2
The natural numbers are:  3
The natural numbers are:  4
The natural numbers are:  5
The natural numbers are:  6
The natural numbers are:  7
The natural numbers are:  8
The natural numbers are:  9
The natural numbers are:  10

In [26]:
## No. 4
num = int(input("Enter the num: "))
i=1
sum=0
while i!=num+1:
    sum +=i
    print("The sum is: ",sum)
    i+=1
print("The total sum: ",sum)

Enter the num: 20
The sum is:  1
The sum is:  3
The sum is:  6
The sum is:  10
The sum is:  15
The sum is:  21
The sum is:  28
The sum is:  36
The sum is:  45
The sum is:  55
The sum is:  66
The sum is:  78
The sum is:  91
The sum is:  105
The sum is:  120
The sum is:  136
The sum is:  153
The sum is:  171
The sum is:  190
The sum is:  210
The total sum:  210

In [30]:
## No. 5
lst =[10,20,40,50,70,80,160,90,75]
for i in lst:
  if i>150:
    break
  else:
    print("The numbers divisible by five: ",i/5)

The numbers divisible by five:  2.0
The numbers divisible by five:  4.0
The numbers divisible by five:  8.0
The numbers divisible by five:  10.0
The numbers divisible by five:  14.0
The numbers divisible by five:  16.0

In [36]:
## No. 6
lst = [20,25,15,80,70,65,40,86,92]

for i in range(len(lst) // 2):
    
    lst[i], lst[-1 - i] = lst[-1 - i], lst[i]


lst

[92, 86, 40, 65, 70, 80, 15, 25, 20]

In [43]:
## NO. 7
p1="My"
p2="Name"
p3="Is"
p4="James"

print(p1+"**"+p2+"**"+p3+"**"+p4)

My**Name**Is**James

In [72]:
## NO. 8
lst1 = ["My ", "IS", "Showmick"]
lst2 = ['Name','','']
#con= lambda i,j:  zip(lst1,lst2)
#con = [i + j for i, j in zip(lst1, lst2)]
  
print ("The list after element concatenation is : ", map(lambda i,j: i+' '+j ,lst1,lst2))

The list after element concatenation is :  <map object at 0x7fdd06bbd410>

In [73]:
## NO. 8
lst1 = ["My ", "IS", "Showmick"]
lst2 = ['Name','','']
con = [i + j for i, j in zip(lst1, lst2)]
  
print ("The list after element concatenation is : " +  str(con))

The list after element concatenation is : ['My Name', 'IS', 'Showmick']

In [76]:
## NO.9
num = [4,5,7,8,9,7,1]

squ_num = [number ** 2 for number in num]

print(squ_num)

[16, 25, 49, 64, 81, 49, 1]

In [78]:
## No. 10
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
print(aTuple[1][1])

20